name: Create and publish Docker image

on:
  push:
    branches:
      - main
      - canary


env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ghcr.io/privateaim/node-pod-orchestration

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract release information
        run: |
          echo "RELEASE=$(grep -m1 '^version' pyproject.toml | cut -d '"' -f2)" >> $GITHUB_ENV
      - name: Extract metadata for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=sha
            type=raw,value=${{ env.RELEASE }},enable={{is_default_branch}}
      - name: Set custom tag if on canary branch
        id: custom-tag
        run: |
          if [[ "${{ github.ref }}" == "refs/heads/canary" ]]; then
          echo "CUSTOM_TAG=canary" >> $GITHUB_ENV
          else
          echo "CUSTOM_TAG=latest" >> $GITHUB_ENV
          fi
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ steps.meta.outputs.tags }}
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.CUSTOM_TAG }}
          labels: ${{ steps.meta.outputs.labels }}
